[Unit]
Description=xremap key remapping service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/%u/.cargo/bin/xremap /home/%u/.config/xremap/config.yml
Restart=always
RestartSec=3
Environment="DISPLAY=:0"

[Install]
WantedBy=default.target
