#!/bin/sh

set -e

{{- if eq .chezmoi.os "linux" }}
echo {{ .chezmoi.osRelease }}

{{-   if eq .chezmoi.osRelease.id "ubuntu" "debian" }}


{{-   else if eq .chezmoi.osRelease.id "arch" }}
{{-   end }}


{{- else if eq .chezmoi.os "darwin" }}

{{- end }}
