[general]
import = [
    "~/.config/alacritty/themes/themes/tokyo_night.toml"
]

[font]
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
size = 14
{{ else }}
size = 19
{{ end }}
normal = { family = "Inconsolata Nerd Font Mono", style = "Regular" }
glyph_offset = { x = 0, y = 0 }


[keyboard]
bindings = [
{{ if eq .chezmoi.os "darwin" }}
{ key = "Plus",  mods = "Control", action = "IncreaseFontSize"  },
{ key = "Minus", mods = "Control", action = "DecreaseFontSize"  },
{ key = "F11",   mods = "None",    action = "ToggleFullscreen"  },

{{ else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
# Ctrl+C / Ctrl+V for normal copy/paste
{ key = "c", mods = "Control", action = "Copy" },
{ key = "v", mods = "Control", action = "Paste"},

# Mod+C sends SIGTERM to the shell
{ key = "c", mods = "Shift|Control", chars = "\u0003" },

{{ end }}
]
